:root{
    --my-lime-color: #00F511; 
    --my-orange-color: #F57400; 
    --my-blue-color: #3D00F5; 
    --my-purple-color: #5035A0; 
    --my-green-color: #3B753F; 
}

.bg-my-lime{
    background-color: var(--my-lime-color);
}
.bg-my-orange{
    background-color: var(--my-orange-orange);
}
.bg-my-blue{
    background-color: var(--my-blue-color);
}
.bg-my-purple{
    background-color: var(--my-purple-color);
}
.bg-my-green{
    background-color: var(--my-green-color);
}

.my-text-blue{
    color: var(--my-blue-color);
}

.my-text-orange{
    color: var(--my-orange-color);
}

.player-dice{
    background-color: var(--my-blue-color);
    margin-top: 30px;
    width: 100px;
    height: 100px;
    border-radius: 10%;
    font-size: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 2px solid black;
}

.player-dice{
    background-color: var(--my-blue-color);
    margin-top: 30px;
    width: 100px;
    height: 100px;
    border-radius: 10%;
    font-size: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}